<ion-header>
  <ion-toolbar>
    <ion-title>
      Cambieri.IT - ag-Grid Enterprise POC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ag-grid-angular style="width: 100%; height: 680px;" class="ag-theme-balham" [rowData]="rowData" [columnDefs]="columnDefs" 
        [pagination]="true" [paginationPageSize]="30" [localeText]="localeText"
        [masterDetail]="true"
        [detailCellRendererParams]="detailCellRendererParams">
    </ag-grid-angular>
    <hr/>
    <!-- <ag-grid-angular style="width: 100%; height: 87%;" class="ion-padding ag-theme-balham" [rowData]="elePdf"
    [columnDefs]="columnDefs" [modules]="modules"
    [frameworkComponents]="frameworkComponents" [rowHeight]="rowHeight" (gridReady)="onGridReady($event)"
    [pagination]="true" [paginationPageSize]="30" [localeText]="labelText.localeText"
    (filterChanged)="filterChanged($event)" (rowDataChanged)="rowDataChanged()" >
  </ag-grid-angular> -->
  </div>
</ion-content>